<div ng-init="contractors">
    <table id="contractors" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Account Number</th>                                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>   
                <th>Address</th>
                <th>Account Number</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="contractor in contractors">
                <td>{{ contractor._id }}</td>
                <td>{{ contractor.name }} </td>
                <td>{{ contractor.address }} </td>
                <td>{{ contractor.accountNumber }} </td>
            </tr>
        </tbody>
    </table>
</div>