<div ng-init="budgets">
    <table id="budgets" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Allocated</th>
                <th>On Budget</th>
                <th>Budget</th>                                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>   
                <th>Allocated</th>
                <th>On Budget</th>
                <th>Budget</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="budget in budgets">
                <td>{{ budget._id }}</td>
                <td>{{ budget.name }} </td>
                <td>{{ budget.allocated }} </td>
                <td>{{ budget.onBudget }} </td>
                <td>{{ budget.budget }} </td>               
            </tr>
        </tbody>
    </table>
<div>