<div id="navigation">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Z&T Co.</span>

            <div class="dropdown" uib-dropdown >
                <a uib-dropdown-toggle href="#">
                    <small class="text-muted">About us. <b class="caret"></b></small>
                </a>
                <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                    <li><a>Item</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav metismenu" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="projects"> <span class="nav-label">Projects</span></a>
        </li>
         <li ui-sref-active="active">
            <a ui-sref="budget"> <span class="nav-label">Budget</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="vendors"> <span class="nav-label">Vendors</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="contractors"> <span class="nav-label">Gen. Contractors</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="installers"> <span class="nav-label">Installers</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="managers"> <span class="nav-label">Project Managers</span></a>
        </li>
    </ul>
</div>