<div ng-init="projects">
    <table id="projects" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>   
                <th>Address</th>
                <th>AuthId</th>
                <th>Parent Project</th>
                <th>Parent Of</th>
                <th>Siblings</th>
                <th>Vendors</th>
                <th>General Contractors</th>                             
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{ project._id }}</td>
            <td>{{ project.name }} </td>
            <td>{{ project.address }} </td>
            <td>{{ project.authId }} </td>
            <td>{{ project.parentId }} </td>
            <td>{{ project.parentOf }} </td>
            <td>{{ project.siblings }} </td>
            <td>{{ project.vendorIds }} </td>
            <td>{{ project.generalConIds }} </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>   
                <th>Address</th>
                <th>AuthId</th>
                <th>Parent Project</th>
                <th>Parent Of</th>
                <th>Siblings</th>
                <th>Vendors</th>
                <th>General Contractors</th>
            </tr>
        </tfoot>
    </table>
</div>